.container{
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  margin: auto auto;
  padding-top: 10rem;
  row-gap: 10px;
}

.reset{
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  margin: auto auto;
  padding-top: 1rem;
  row-gap: 10px;
}


.counter{
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  margin: auto auto;
  padding-top: 1.5rem;
  row-gap: 10px;
}
